form{
    background-color: turquoise;
    border: 10px solid black;
    padding: 30px 80px;
    width: 40%;
    flex-direction: column;
    position: absolute;
top: 50%;
left: 50%;
right: 50%;
transform: translate(-49%, -66%);
display: flex;
    box-shadow: 10 0 20px grey;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
}
body{
    background-color: violet
}
label{
    background-color: rgba(241, 71, 128, 0.767);
    color: black;}
h1{
    text-align: center;
}
fieldset{
    border-color: white;
}